html
  body
    .modal.fade(id=`kt_modal_update_ticket_modal_${ticket._id}`, tabindex="-1", aria-hidden="true")
      .modal-dialog.modal-dialog-centered.mw-650px
        .modal-content.rounded
          .modal-header.pb-0.border-0.justify-content-end
            .btn.btn-sm.btn-icon.btn-active-color-primary(data-bs-dismiss="modal")
              i.ki-duotone.ki-cross.fs-1
                span.path1
                span.path2
          .modal-body.scroll-y.px-10.px-lg-15.pt-0.pb-15
            form.form(id=`kt_modal_update_ticket_form_${ticket._id}`, action="#")
              .mb-13.text-center
                h1.mb-3 Update Ticket

              .d-flex.flex-column.mb-8.fv-row
                label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
                  span.required Ticket Title
                  span.ms-1(data-bs-toggle="tooltip", title="Specify a ticket name for future usage and reference")
                    i.ki-duotone.ki-information-5.text-gray-500.fs-6
                      span.path1
                      span.path2
                      span.path3
                input.form-control.form-control-solid(type="text", value=ticket.name, name="target_title")
              .row.g-9.mb-8
                .col-md-6.fv-row
                  label.fs-6.fw-semibold.mb-2 Created By                 
                  a.d-flex.align-items-center.p-3.rounded.bg-state-light.bg-state-opacity-50.mb-1(href="#")
                    .symbol.symbol-35px.symbol-circle.me-5
                      img(alt="Pic", src=`assets/media/avatars/${ticket.assignedBy.photo}`)
                    .fw-semibold
                      span.fs-6.text-gray-800.me-2 #{ticket.assignedBy.name}
                      span.badge.badge-light Software Enginer
                .col-md-6.fv-row
                  label.required.fs-6.fw-semibold.mb-2 Status
                  select.form-select.form-select-solid(data-control="select2", data-hide-search="true", data-placeholder="Set project status", name="target_status")
                    option(value='created' selected=ticket.status==='created') Created
                    option(value='in_progress' selected=ticket.status==='in_progress') In Progress
                    option(value='in_progress' selected=ticket.status==='completed') Completed
              .row.g-9.mb-8
                .col-md-6.fv-row
                  label.required.fs-6.fw-semibold.mb-2 Assign To                  
                  select.form-select.form-select-solid(data-control="select2", data-hide-search="true", data-placeholder="Select a Team Member", name="target_assign", multiple)
                    each member in project.members
                      option(value=member.account._id selected=ticket.assignedTo.some(assigned => assigned._id.toString() === member.account._id.toString())) #{member.account.name}
                .col-md-6.fv-row
                  label.required.fs-6.fw-semibold.mb-2 Due Date
                  .position-relative.d-flex.align-items-center
                    i.ki-duotone.ki-calendar-8.fs-2.position-absolute.mx-4
                      span.path1
                      span.path2
                      span.path3
                      span.path4
                      span.path5
                      span.path6
                    input.form-control.form-control-solid.ps-12(value=ticket.dueDate, name="due_date")
              .d-flex.flex-column.mb-8
                label.fs-6.fw-semibold.mb-2 Description
                textarea.form-control.form-control-solid(rows="3", name="target_details")= ticket.description
              .d-flex.flex-column.mb-8.fv-row
                label.d-flex.align-items-center.fs-6.fw-semibold.mb-2
                  span.required Tags 
                - var modifiedTags = `${ticket.tags}`.replace(',', ', ')
                input.form-control.form-control-solid(value=modifiedTags, name="tags")
              .text-center
                button.btn.btn-light.me-3(type="reset", id=`kt_modal_update_ticket_cancel_${ticket._id}`) Cancel
                button.btn.btn-primary(type="submit", id=`kt_modal_update_ticket_submit_${ticket._id}` data-value=ticket.name)
                  span.indicator-label Save
                  span.indicator-progress
                    | Please wait...
                    span.spinner-border.spinner-border-sm.align-middle.ms-2
