// begin::Card
.card.mb-3.mb-xl-3
  // begin::Card body
  .card-body-ticket
    // begin::Header
    .d-flex.flex-stack.mb-1
      .badges-container
        each tag in ticket.tags
          // begin::Badge
          .badge.badge-warning.mr-1 #{tag} 
          // end::Badge
      // begin::Menu
      div
        button.btn.btn-sm.btn-icon.btn-color-light-dark.btn-active-light-primary(type="button", data-kt-menu-trigger="click", data-kt-menu-placement="bottom-end")
          i.ki-duotone.ki-element-plus.fs-2
            span.path1
            span.path2
            span.path3
            span.path4
            span.path5
        // begin::Menu 3
        .menu.menu-sub.menu-sub-dropdown.menu-column.menu-rounded.menu-gray-800.menu-state-bg-light-primary.fw-semibold.w-200px.py-3(data-kt-menu="true")
          // begin::Heading
          .menu-item.px-3
            .menu-content.text-muted.pb-2.px-3.fs-7.text-uppercase Actions
          // end::Heading
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-3.update--ticket(data-bs-toggle="modal", data-bs-target=`#kt_modal_update_ticket_modal_${ticket._id}` data-value=`${ticket._id}`) View/Edit Ticket
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3(data-kt-menu-trigger="hover", data-kt-menu-placement="right-end")
            a.menu-link.px-3(href="#")
              span.menu-title Mark As
              span.menu-arrow
            // begin::Menu sub
            .menu-sub.menu-sub-dropdown.w-175px.py-4
              // begin::Menu item
              .menu-item.px-3
                a.menu-link.px-3.mark-ticket.created(data-value=`${ticket._id}`) Created
              // end::Menu item
              // begin::Menu item
              .menu-item.px-3
                a.menu-link.px-3.mark-ticket.in-progress(data-value=`${ticket._id}`) In Progress
              // end::Menu item
              // begin::Menu item
              .menu-item.px-3
                a.menu-link.px-3.mark-ticket.completed(data-value=`${ticket._id}`) Completed
              // end::Menu item
            // end::Menu sub
          // end::Menu item
          // begin::Menu item
          .menu-item.px-3
            a.menu-link.px-3.delete--ticket(data-value=`${ticket._id}`) Delete Ticket
          // end::Menu item
        // end::Menu 3
      // end::Menu
    // end::Header
    // begin::Title
    .mb-1
      a.fs-4.fw-bold.mb-1.text-gray-900.text-hover-primary(href="#") #{ticket.name}
    // end::Title
    // begin::Content
    .fs-6.fw-semibold.text-gray-600.mb-3 #{ticket.description}
    // end::Content
    // begin::Footer
    .d-flex.flex-stack.flex-wrapr
      // begin::Users
      .symbol-group.symbol-hover.my-1
        .symbol.symbol-35px.symbol-circle(data-bs-toggle="tooltip", title=ticket.assignedBy.name)
          if (ticket.assignedBy.profileImage) 
            img(alt="Pic", src=`assets/media/avatars/${ticket.assignedBy.profileImage}.jpg`)
          else
            span.symbol-label.bg-primary.text-inverse-primary.fw-bold= ticket.assignedBy.name.charAt(0).toUpperCase()
        each assignee in ticket.assignedTo
          .symbol.symbol-35px.symbol-circle(data-bs-toggle="tooltip", title=assignee.name)
            if (assignee.profileImage) 
              img(alt="Pic", src=`assets/media/avatars/${assignee.profileImage}.jpg`)
            else
              span.symbol-label.bg-primary.text-inverse-primary.fw-bold= assignee.name.charAt(0).toUpperCase()
      // end::Users
      // begin::Stats
      .d-flex.my-1
        // begin::Stat
        .border.border-dashed.border-gray-300.rounded.d-flex.align-items-center.py-2.px-3
          i.ki-duotone.ki-paper-clip.fs-3
          span.ms-1.fs-7.fw-bold.text-gray-600 6
        // end::Stat
        // begin::Stat
        .border.border-dashed.border-gray-300.d-flex.align-items-center.rounded.py-2.px-3.ms-3(data-value=`${user._id}` id=`ticket_comment_view_${ticket._id}`)
          i.ki-duotone.ki-message-text-2.fs-3
            span.path1
            span.path2
            span.path3
          span.ms-1.fs-7.fw-bold.text-gray-600(id=`comment_count_${ticket._id}`) #{ticket.numComments}
        // end::Stat
      // end::Stats
    // end::Footer
  // end::Card body
  // start::Ticket Comment
  .d-flex.flex-column.d-none(id=`ticket_comment_container_${ticket._id}`)
    // start::Ticket Comment Body
    .card-footer-ticket.pt-4
      // begin::Messages
      .scroll-y.me-n5.pe-5(style='display: flex; flex-direction: column; max-height: 400px; overflow-y: auto; resize: vertical', id=`ticket_comment_messages_${ticket._id}`)
      // end::Messages
    // end::Ticket Comment body
    // begin::Comment Input Group
    .card-footer-ticket.pt-4
      .d-flex.flex-stack
        // begin::Input
        textarea.form-control.form-control-flush(rows="1", data-kt-element="input", placeholder="Add a comment...", id=`ticket_comment_input_${ticket._id}`)
        // end::Input
        // begin::Send
        button.btn.btn-primary(type="button", data-kt-element="send", id=`ticket_comment_send_${ticket._id}`) Save
        // end::Send
      // end::Toolbar
    // end::Comment Input Group
  // end::Ticket Comment
// end::Card 
include _modalUpdateTicket

