extends ../../layouts/base

block content
  body
    .d-flex.flex-column.flex-column-fluid
      // begin::Toolbar
      .app-toolbar.py-3.py-lg-6(id="kt_app_toolbar")
        // begin::Toolbar container
        .app-container.container-xxl.d-flex.flex-stack(id="kt_app_toolbar_container")
          // begin::Page title
          .page-title.d-flex.flex-column.justify-content-center.flex-wrap.me-3
            // begin::Title
            h1.page-heading.d-flex.text-gray-900.fw-bold.fs-3.flex-column.justify-content-center.my-0 Project Settings
            // end::Title
            // begin::Breadcrumb
            ul.breadcrumb.fw-semibold.fs-7.my-0.pt-1
              // begin::Item
              li.breadcrumb-item.text-muted
                a.text-muted.text-hover-primary(href="/") Home
              // end::Item
              // begin::Item
              li.breadcrumb-item.text-muted
                a.text-muted.text-hover-primary(href="/") Projects
              // end::Item
              // begin::Item
              li.breadcrumb-item.text-muted
                a.text-muted.text-hover-primary(href=`/projects/${project.slug}`) #{project.name}
              // end::Item
              // begin::Item
              li.breadcrumb-item.text-muted Settings
              // end::Item
            // end::Breadcrumb
          // end::Page title
        // end::Toolbar container
      // end::Toolbar
      // begin::Content
      .app-content.flex-column-fluid(id="kt_app_content")
        // begin::Content container
        .app-container.container-xxl(id="kt_app_content_container")
          // begin::Card
          .card
            // begin::Form
            form.form(id="project_settings_form")
              input(type="hidden", id='projectId', value=project.id)
              // begin::Card body
              .card-body.p-9
                // begin::Row
                .row.mb-5
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3 Project Logo
                  // end::Col
                  // begin::Col
                  .col-lg-8
                    // begin::Image input
                    .image-input.image-input-outline(data-kt-image-input="true", style="background-image: url('assets/media/projects/blank.svg')")
                      // begin::Preview existing avatar
                      .image-input-wrapper.w-125px.h-125px.bgi-position-center(style=`background-size: 75%; background-image: url('assets/media/projects/${project.logo}')`)
                      // end::Preview existing avatar
                      // begin::Label
                      label.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-white.shadow(data-kt-image-input-action="change", data-bs-toggle="tooltip", title="Change avatar")
                        i.ki-duotone.ki-pencil.fs-7
                          span.path1
                          span.path2
                        // begin::Inputs
                        input(type="file", name="logo", accept=".svg")
                        input(type="hidden", name="logo_remove")
                        // end::Inputs
                      // end::Label
                      // begin::Cancel
                      span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-white.shadow(data-kt-image-input-action="cancel", data-bs-toggle="tooltip", title="Cancel avatar")
                        i.ki-duotone.ki-cross.fs-2
                          span.path1
                          span.path2
                      // end::Cancel
                      // begin::Remove
                      span.btn.btn-icon.btn-circle.btn-active-color-primary.w-25px.h-25px.bg-white.shadow(data-kt-image-input-action="remove", data-bs-toggle="tooltip", title="Remove avatar")
                        i.ki-duotone.ki-cross.fs-2
                          span.path1
                          span.path2
                      // end::Remove
                    // end::Image input
                    // begin::Hint
                    .form-text Allowed file type: svg.
                    // end::Hint
                  // end::Col
                // end::Row
                // begin::Row
                .row.mb-8
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3.required Project Name
                  // end::Col
                  // begin::Col
                  .col-xl-9.fv-row
                    input.form-control.form-control-solid(type="text", name="name", value=`${project.name}`)
                // end::Row
                // begin::Row
                .row.mb-8
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3.required Project Summary
                  // end::Col
                  // begin::Col
                  .col-xl-9.fv-row
                    input.form-control.form-control-solid(type="text", name="summary", value=`${project.summary}`)
                // end::Row
                // begin::Row
                .row.mb-8
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3 Project Description
                  // end::Col
                  // begin::Col
                  .col-xl-9.fv-row
                    textarea.form-control.form-control-solid.h-100px(name="description") #{project.description}
                  // begin::Col
                // end::Row
                // begin::Row
                .row.mb-8
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3.required Start Date 
                  // end::Col
                  // begin::Col
                  .col-xl-9.fv-row
                    .position-relative.d-flex.align-items-center
                      i.ki-duotone.ki-calendar-8.position-absolute.ms-4.mb-1.fs-2
                        span.path1
                        span.path2
                        span.path3
                        span.path4
                        span.path5
                        span.path6
                      input.form-control.form-control-solid.ps-12(name="start_date", placeholder="Pick a date", value=project.startDate)
                  // begin::Col
                // end::Row
                // begin::Row
                .row.mb-8
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3.required Due Date
                  // end::Col
                  // begin::Col
                  .col-xl-9.fv-row
                    .position-relative.d-flex.align-items-center
                      i.ki-duotone.ki-calendar-8.position-absolute.ms-4.mb-1.fs-2
                        span.path1
                        span.path2
                        span.path3
                        span.path4
                        span.path5
                        span.path6
                      input.form-control.form-control-solid.ps-12(name="due_date", placeholder="Pick a date", value=project.dueDate)
                  // begin::Col
                // end::Row

                // begin::Row
                .row
                  // begin::Col
                  .col-xl-3
                    .fs-6.fw-semibold.mt-2.mb-3.required Status
                  // end::Col
                  // begin::Col
                  .col-xl-9
                    select.form-select.form-select-solid.w-250px(data-control="select2" name="status" data-placeholder="Select current status" data-hide-search="true" data-dropdown-css-class="w-250px")
                      option
                      option(value='Created' selected=project.status==='Created') Created
                      option(value='In Progress' selected=project.status==='In Progress') In Progress
                      option(value='Completed' selected=project.status==='Completed') Completed
                  // end::Col
                // end::Row
              // end::Card body
              // begin::Card footer
              .card-footer.d-flex.justify-content-end.py-6.px-9
                button.btn.btn-light.btn-active-light-primary.me-2(type="reset") Discard
                button.btn.btn-primary(type="submit", id="project_settings_submit") Save Changes
              // end::Card footer
            // end:Form
          // end::Card
        // end::Content container
      // end::Content
